@import url(../public/css/reset.css);
@import url("https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Andika", sans-serif !important;
    box-sizing: border-box;
}

html {
    /* width: 100vh; */
    /* height: 8228px; */
    background: #000;
}
body {
    overflow: hidden;
    margin: 0 135px 0;
}

p {
    color: #fdfdfd;
}
